body{
    background-image: url("https://fondosmil.com/fondo/17010.jpg");
    background-size: 80rem
}
.titulo {
    border: groove mediumpurple;
    color: #F57619;
    width: 150px;
    height: 35px;
    background-color: #F5C619;
    border-radius: 50px;
    padding: 15px;
}
.input{
    color: orange;
    width: 30px;
    height: 30px;

}
#boton-mascota{
    color: black;
    width: 100px;
    height: 50px;
    background-color: #F5C619;
    margin: 15px;
    border: 3px groove aqua;
    border-radius: 5px;
}
h2{
    padding: 3px;
    width: 116px;
    height: 58px;
    background-color: beige;
    color: brown;
    border-radius: 26px;
    border: 3px groove brown;
}
#Seleccionar-ataque{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#mensajes{
    background-color: bisque;
    width: 500px;
    background-color: bisque;
    margin: 5px;
    border-radius: 2px;
}
.input-mokepon{
    border-radius: 40px;
    background-color: azure;
    padding: 10px;
    margin: 10px;
    border: 3px groove aqua;
}
input{
    display: none;
}
.p2{
    background-color: antiquewhite;
    width: 323px;
    height: 20px;
    padding: 15px;
    margin: 5px;
    border-radius: 20px;
    border: 3px groove brown;
}
.p1{
    background-color: antiquewhite;
    width: 250px;
    height: 20px;
    padding: 15px;
    margin: 5px;
    border-radius: 20px;
    border: 3px groove brown;
}
.titulo-ataque{
    padding: 3px;
    width: 116px;
    height: 58px;
    background-color: beige;
    color: brown;
    border-radius: 26px;
    border: 3px groove brown
}
.titulo-mascota{
    padding: 14px;
    width: 96px;
    height: 58px;
    background-color: beige;
    color: brown;
    border-radius: 26px;
    border: 3px groove brown;
}
.button-ataque{
    background-color: antiquewhite;
    border-radius: 100px;
    width: 100px;
    margin: 5px;
    padding: 10px;
    border: 4px ridge brown;
}
#boton-reiniciar{
    border: groove mediumpurple;
    color: black;
    width: 150px;
    background-color: #F5C619;
    border-radius: 50px;
    padding: 15px;
}